<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>动态添加删除表格行</title>
		<style>
			body {text-align: center;width: 100%;margin: auto;padding-top: 150px;}
			table {margin: auto;}
		</style>
	</head>
	<body>
		<table id="myTable" border="1" width="300px">
			<tr>
				<td><input type="checkbox"/></td>
				<td>语文</td>
				<td>99</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>语文</td>
				<td>99</td>
			</tr>
			<tr>
				<td><input type="checkbox"/></td>
				<td>语文</td>
				<td>99</td>
			</tr>
			
		</table>
		<br />
		<input type="button" value="添加" id="createRow"/>
		<input type="button" value="删除" id="removeRow"/>
		<br />
		<input type="text" value="" placeholder="科目" id="subject"/>
		<input type="text" value="" placeholder="分数" id="score"/>
		
		<script type="text/template" id="itemTmpl">
			<tr>
				<td><input type="checkbox"/></td>
				<td><%= subject %></td>
				<td><%= score %></td>
			</tr>
		</script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
		<script>
			//remove the checked row
			$('#removeRow').on('click',function(){
				$(':checked').parent().parent().remove();
			});
			
			//create the new tag
			$('#createRow').on('click',function(){
				if($('#subject').val() && $('#score').val()){
					var template = _.template($('#itemTmpl').html());
					var sub = $('#subject').val();
					var sco = $('#score').val();
					
//					template({subject: sub});
//                  It's hard to find this bug, 
//                  pass the parameter to template when insert to DOM
					$('table tr:last-child').after(template({subject: sub,score: sco})); 
					$('#subject').val('');
					$('#score').val('');
				}
			})
		</script>
	</body>
</html>
